# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Environment files
.env
.env.*.local

# Vite cache
.vite

# Prettier cache
.prettiercache

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode/settings.json
.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
Thumbs.db
ehthumbs.db
.AppleDouble
.LSOverride

# Husky
.husky/_/

# .env
.env